@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<head>
    <style>
        /*Button*/
        .btn.btn-primary {
            display: inline-block;
            margin: 5px;
            padding: 4px 12px;
            /*background-color: #09a7d4;*/
            background-color: #068fc6;
            color: #f7fffa;
            border-color: transparent;
            border-radius: 8px;
        }

            .btn.btn-primary:hover {
                /* Change styles on hover */
                background-color: #f7fffa;
                color: #09a7d4;
            }
    </style>
</head>
<body>
    
    <section style=" display: flex; justify-content: center; align-items: center;">
        <section class="container-custom" style="text-align: center; margin-top: 100px;">
            <div class="card-custom" style="height: fit-content;">
                <h1 style="text-align: center; color: #f7fffa; padding-top: 5px;">@ViewData["Title"]</h1>
                <div class="card-body" style="color: #f7fffa;">
                    <h5 style="text-align: center; justify-content:center;">Please enter the email address you would like the password reset information to be sent to.</h5>
                    <hr />
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </section>
        <!--Scrollreveal js-->
        <script src="https://unpkg.com/scrollreveal"></script>
        <!--js link-->
        <script src="~/js/site.js"></script>

        <script>

            //Scroll Effect
            const sr = ScrollReveal({
                distance: '65px',
                duration: 2000,
                delay: 450,
                reset: true
            });

            sr.reveal('section', { delay: 200, origin: 'top' });

        </script>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
