<!--CSS Code for page-->
<link href="~/css/Background2.css" rel="stylesheet" />
<head>
    <style>

        /*Image Design*/
        .square-image {
            width: 500px;
            height: 500px;
            margin-right: 50px;
        }
        /* Radio Button Design */
        /* Hide round disc part of radio button */
        input[type=radio] {
            display: none;
            margin: 10px;
        }

            /* Change the radio button label design
                        Add margin, padding, colour */
            input[type=radio] + label {
                display: inline-block;
                margin: 5px;
                padding: 4px 12px;
                /*background-color: #09a7d4;*/
                background-color: #068fc6;
                color: #f7fffa;
                /*border-radius: 8px;*/
            }

            /* Change background and label color for label when selected */
            input[type=radio]:checked + label {
                background-image: none;
                background-color: #f7fffa;
                color: #09a7d4;
                border-radius: 8px;
            }

        /*Button*/
        .submit-button {
            display: inline-block;
            margin: 5px;
            padding: 4px 12px;
            background-color: #068fc6;
            color: #f7fffa;
            border-color: transparent;
            border-radius: 8px;
        }

            /* Change styles on hover */
            .submit-button:hover {
                background-color: #f7fffa;
                color: #09a7d4;
            }
    </style>

</head>

<body>
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <section class="container" style="margin-top:100px;">
        <h1 style="text-align: center; color: #f7fffa; padding-top:5px;">Donate Now!</h1>
        <div class="row">
            <div class="col-md-6">
                <!--Image-->
                <img src="~/images/dummy.jpg" alt="Image" class="square-image" />

            </div>
            <div class="col-md-6">
                <!--Information-->
                <p style="text-align: justify; height: 500px; overflow: auto;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus convallis gravida. Aenean eget metus mauris. Proin tristique est vel libero finibus, id interdum metus hendrerit. Donec auctor, elit vel rhoncus ultricies, purus turpis consequat odio, id cursus ipsum mauris id leo. Nullam vitae massa sed leo dignissim dapibus. Aliquam non mi vitae tellus egestas consequat. Nulla facilisi. In fringilla mi vel pellentesque aliquet. Aliquam a diam hendrerit, laoreet ipsum a, convallis erat. Phasellus at sem nisi. Proin dapibus sapien vel odio cursus, sed consequat velit malesuada. In venenatis mauris vel sapien rutrum ultricies.

                    Vivamus semper tincidunt tortor ac iaculis. Vestibulum lacinia, arcu et scelerisque varius, enim ex mattis enim, ac rutrum lacus nisi ac risus. Nulla sit amet leo ac dolor scelerisque consectetur. Cras vitae ligula eu diam cursus dignissim vel nec quam. Vestibulum vel rutrum massa. Mauris dignissim ultrices metus, in condimentum sem eleifend nec. Nullam varius iaculis turpis, sed sagittis tellus sagittis non. In congue diam quis tellus viverra tempus. Nulla dapibus malesuada tristique. Nunc eget lobortis diam, eget aliquet nisi. Integer feugiat odio mi, eu mollis lacus tempus ac. Nullam convallis risus sed ultricies malesuada. Aenean convallis risus nec turpis sagittis, et rutrum sapien tincidunt.

                    Sed tristique, ipsum a bibendum dapibus, ligula sapien volutpat neque, sed egestas orci arcu ut mi. Donec at enim non tellus lobortis condimentum. Sed lobortis auctor sapien. Suspendisse quis lectus non ante malesuada cursus. Donec lacinia felis felis, sed finibus urna mattis sed. Vivamus eleifend pretium magna, ut suscipit purus eleifend id. Sed pulvinar lacus eu lectus dignissim, a pulvinar nibh scelerisque. Vestibulum vitae est faucibus, lacinia tellus at, aliquet turpis. Donec tristique sagittis leo, eu dapibus velit pulvinar nec. Vestibulum sodales lorem non libero varius sollicitudin. Phasellus faucibus tincidunt eros, sed congue lacus luctus a. Sed ultricies nisi in enim pellentesque lobortis.

                    Fusce posuere felis at facilisis pharetra. Quisque elementum dui libero, eu cursus ex sagittis id. Mauris varius quam non rutrum pulvinar. Mauris id nulla in neque scelerisque feugiat et id est. Curabitur in odio tincidunt, maximus velit nec, lacinia lorem. Suspendisse ultrices malesuada odio id faucibus. Sed a arcu ac enim vehicula ullamcorper. In nec leo vitae sapien sagittis malesuada. Nullam dignissim volutpat metus, a pulvinar quam laoreet nec. Cras mattis enim id magna facilisis bibendum. Integer dignissim arcu nec lacus pulvinar consectetur. Nulla et dui eu turpis dapibus consectetur sed id diam. Aenean eu felis ut nisl placerat euismod. In viverra fringilla diam vel convallis.
                </p>


            </div>
        </div>
    </section>


        
    <!--Payment Options-->
    
    <section style=" display: flex; justify-content: center; align-items: center;">
        <section style="width: 500px; text-align: center; background-color: #09a7d4; border-radius: 8px; margin-bottom: 150px;">
        <h1 style="text-align: center; color: #f7fffa; padding-top:5px;">Payment Options</h1>

        <div class="container">
            <div class="payment-type">
                <label style="text-align: center; color: #f7fffa; padding-top:5px;">Payment Type</label>
                <div class="amount-option">
                    <input type="radio" id="payment-type-one-off" name="payment-type" value="one-off" />
                    <label for="payment-type-one-off">One Off</label>

                    <input type="radio" id="payment-type-monthly" name="payment-type" value="monthly" />
                    <label for="payment-type-monthly">Monthly</label>
                </div>
            </div>

            <div class="amount-options">
                <label style="text-align: center; color: #f7fffa; padding-top:5px;">Donation Amounts</label>
                <div class="amount-option">
                    <input type="radio" id="amount-option-100" name="amount-option" value="100" />
                    <label for="amount-option-100">R100,00</label>

                    <input type="radio" id="amount-option-200" name="amount-option" value="200" />
                    <label for="amount-option-200">R200,00</label>
                </div>
                <div class="amount-option">
                    <input type="radio" id="amount-option-500" name="amount-option" value="500" />
                    <label for="amount-option-500">R500,00</label>

                    <input type="radio" id="amount-option-750" name="amount-option" value="750" />
                    <label for="amount-option-750">R750,00</label>
                </div>
                <div class="amount-option">
                    <input type="radio" id="amount-option-other" name="amount-option" value="other" />
                    <label for="amount-option-other">Other Amount</label>
                </div>
                <div class="amount-option">
                    <label style="color: #f7fffa;">
                        <span id="currency-symbol" style="display: none;">R </span>
                        <input type="text" id="custom-amount" name="custom-amount"
                               placeholder="Enter amount" style="width: 110px; display: none; border-radius: 8px;" />
                    </label>
                </div>


            </div>
            <div class="message-box">
                <div>
                    <label for="message" style="text-align: center; color: #f7fffa; padding-top: 5px;">
                        Send a message to the organisation
                    </label>
                </div>

                <div>
                    <textarea id="message" name="message"
                              style=" width: 450px; height: 100px; border-radius: 8px;"></textarea>
                </div>
            </div>

            <div>
                <button class="submit-button">PayPal</button>
                <button class="submit-button">PayFast</button>
            </div>

        </div>
        </section>
    </section>


    <!--Script to update the document file label to display the file name after it is uploaded-->
    <script>
        //Constant variables to hold radio buttons, input and currency symbol
        const otherAmountRadioButton = document.getElementById("amount-option-other");
        const customAmountInput = document.getElementById("custom-amount");
        const currencySymbol = document.getElementById("currency-symbol");
        const radioButtons = document.getElementsByName("amount-option");

        //EventListener to check if other amount button is selected
        //If selected then display custom amount box else keep it hidden
        radioButtons.forEach(function (button) {
            button.addEventListener("change", function () {
                if (otherAmountRadioButton.checked) {
                    customAmountInput.style.display = "inline-block";
                    currencySymbol.style.display = "inline";
                } else {
                    customAmountInput.style.display = "none";
                    currencySymbol.style.display = "none";
                }
            });
        });


    </script>
    <!--Scrollreveal js-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!--js link-->
    <script src="~/js/site.js"></script>

    <script>

        //Scroll Effect
        const sr = ScrollReveal({
            distance: '65px',
            duration: 2000,
            delay: 450,
            reset: true
        });

        sr.reveal('section', { delay: 200, origin: 'top' });

    </script>
</body>




