
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .parallax {
            /* The image used */
            background-image: url("images/dummy.jpg");
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

    <h1 style="text-align: center; color: #f7fffa; padding-top:5px; margin-top: 100px;">Our Purpose</h1>

    <div class="parallax" style="background-image: url(images/dummy.jpg)">
    </div>

    <div style="height:100%; width:100%; background-color:#09a7d4;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus convallis gravida.
                        Aenean eget metus mauris. Proin tristique est vel libero finibus, id interdum metus hendrerit.
    </div>

    <div class="parallax" style="background-image: url(images/dummy.jpg)"></div>

    <div style="height:90px;background-color:#09a7d4;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus convallis gravida.
                        Aenean eget metus mauris. Proin tristique est vel libero finibus, id interdum metus hendrerit.
    </div>
    <div class="parallax" style="background-image: url(images/dummy.jpg)"></div>

    <div style="height:90px;background-color:#09a7d4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus convallis gravida.
                        Aenean eget metus mauris. Proin tristique est vel libero finibus, id interdum metus hendrerit.
    </div>

</body>